.main-screen {
  flex: 1;
  background: #181818;
  padding: 1.5rem 2rem;
  overflow-y: auto;
  border-radius: 0 12px 12px 0;
  box-shadow: inset 0 0 10px #000000cc;
}

/* Scrollbar styling */
.main-screen::-webkit-scrollbar {
  width: 8px;
}

.main-screen::-webkit-scrollbar-track {
  background: #121212;
}

.main-screen::-webkit-scrollbar-thumb {
  background: #ff4b2b;
  border-radius: 20px;
}

.main-screen::-webkit-scrollbar-thumb:hover {
  background: #ff7755;
}
